  <!-- About Section-->
  <section class="bg-light py-5">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-xxl-8">
                <div class="text-center my-5">
                    <h2 class="display-5 fw-bolder"><span class="text-gradient d-inline">About Me</span></h2>
                    <p class="lead fw-light mb-4">My backgroud is software engineer and I love to help people build an own website.</p>
                    <p class="text-muted">I graduated with a degree in information technology from Daegu University and I am interested in developing websites. With good self-study skills I do well in learning new technologies. Contact me to know more.</p>
                    <div class="d-flex justify-content-center fs-2 gap-4">
                        <!-- GitHub -->
                        <a class="text-gradient" href="#!"><i class="bi bi-github"></i></a>
                        
                        <!-- LinkedIn -->
                        <a class="text-gradient" href="#!"><i class="bi bi-linkedin"></i></a>

                        <!-- Facebook -->                       
                        <a class="text-gradient" href="#!"><i class="bi bi-facebook"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>