<%- include('partials/header') -%>
<div class="py-5">
    <div class="container px-5 pb-5">
        <div class="row gx-5 align-items-center">
            <div class="col-xxl-5">
                <div class="badge bg-gradient-primary-to-success text-white mb-4">
                    <div class="text-uppercase">Web Fullstack Developer</div>
                </div>
                <div class="fs-3 fw-light text-muted">I will help you</div>
                    <h1 class="display-3 fw-bolder mb-5"><span class="">Build the best business online</span></h1>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xxl-start mb-3">
                        <a href="resume" class="btn btn-primary btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder">Resume</a>
                        <a href="projects" class="btn btn-outline-dark btn-lg px-5 py-3 fs-6 fw-bolder">Projects</a>
                    </div>
                </div>
            <div class=" col-xxl-7">
                <!-- image backgroud -->
                <div class="d-flex justify-content-center mt-5 mt-xxl-0">
                    <div class="bg-img profile bg-gradient-primary-to-success-to-white">
                        <img class="profile-img" src="assets/profile.PNG" alt="..." />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('partials/aboutMe') -%>
<%- include('partials/footer') -%>