<%- include('partials/header') -%>

<section>
    <div class="bg-light py-5">
        <div class="container px-5">
            <div class="row gx-5 justify-content-center">
                <div class="text-center my-5">
                    <h2 class="display-5 fw-bolder"><span class="text-gradient d-inline">Projects</span></h2>                 
                </div>
                <!-- row 1 -->
                <div class="row py-5">
                    <div class="col-6">
                        <a href="#!">
                            <div class="card">
                                <img src="assets/Project/project-1.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                <h5 class="card-title">Cafe shop</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content...</p>
                                </div>
                            </div>
                        </a>
                    </div>              
                </div>
            </div>
        </div>
    </div>
</section>
<%- include('partials/footer') -%>