<%- include('partials/header') -%>
  <!-- Resume Section-->
  <section class="bg-light py-5">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-xxl-8">
                <div class="text-center my-5">
                    <h2 class="display-5 fw-bolder"><span class="text-gradient d-inline">Resume</span></h2>                 
                </div>
                <!-- Experience -->
                <section>
                    <div class="d-flex align-items-center justify-content-start mb-4">
                        <h2 class="text-gradient fw-bolder mb-0">Experience</h2>
                    </div>
                    <!-- Experience Card 1-->
                    <div class="card border-0 rounded-4 mb-5">
                        <div class="card-body p-5">
                            <div class="row align-items-center gx-5">
                                <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                    <div class="bg-light p-4 rounded-4">
                                        <div class="text-info fw-bolder mb-2">2019 - Present</div>
                                        <div class="small fw-bolder">SoftWare Major</div>
                                        <div class="small text-muted">Daegu University student</div>
                                    </div>
                                </div>
                                <div class="col-lg-8"><div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus laudantium, voluptatem quis repellendus eaque sit animi illo ipsam amet officiis corporis sed aliquam non voluptate corrupti excepturi maxime porro fuga.</div></div>
                            </div>
                        </div>
                    </div>
                </section>

                <!-- Education and Couses -->
                <section>
                    <div class="d-flex align-items-center justify-content-start mb-4">
                        <h2 class="text-gradient fw-bolder mb-0">Education & Learned Couses</h2>
                    </div>
                    <!-- Experience Card 1-->
                    <div class="card border-0 rounded-4 mb-5">
                        <div class="card-body p-5">
                            <div class="row align-items-center gx-5">
                                <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                    <div class="bg-light p-4 rounded-4">
                                        <div class="text-danger fw-bolder mb-2">Udemy</div>
                                        <div class="small fw-bolder">SoftWare Major</div>
                                        <div class="small text-muted">Daegu University student</div>
                                    </div>
                                </div>
                                <div class="col-lg-8"><div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus laudantium, voluptatem quis repellendus eaque sit animi illo ipsam amet officiis corporis sed aliquam non voluptate corrupti excepturi maxime porro fuga.</div></div>
                            </div>
                        </div>
                    </div>
                </section>

                <!-- Professional skill and language -->
                <section>
                    <div class="d-flex align-items-center justify-content-start mb-4">
                        <h2 class="text-gradient fw-bolder mb-0">Skill & Language</h2>
                    </div>
                    <!-- Card -->
                    <div class="card border-0 rounded-4 mb-5">
                        <div class="card-body p-5">
                            <!-- List -->
                            <div class="mb-5">
                                <div class="row row-cols-1 row-cols-md-3 mb-4">
                                    <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">HTML</div></div>
                                    <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">CSS/ SCSS</div></div>
                                    <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">JavaScript</div></div>
                                </div>
                                <div class="row row-cols-1 row-cols-md-3 mb-4">
                                    <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">React</div></div>
                                    <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Nodejs</div></div>
                                    <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">MongoDB</div></div>
                                </div>
                                <div class="row row-cols-1 row-cols-md-3 mb-4">
                                    <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Expressjs</div></div>
                                    <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Bootstrap/ Tailwindcss</div></div>
                                    <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">EJS/ Handlebarsjs</div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>


            </div>
        </div>
    </div>
</section>
<%- include('partials/footer') -%>